{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Student Page</h1>
        <form action="" method="GET">
            <span class="icon-bar">
                <td>{{ sortform.sort }}   {{ sortform.checkbox }}  Recommendation  {{ sortform.submit(class="button") }}</td>
            </span>
        </form>
        <!-- <button>
            <span class="icon-bar">
            <td><a href="{{ url_for('applyTaPosition') }}" class="button"> Apply TA Position </a></td>
            </span>
        </button> -->
    <br>
    <br>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
    </div>

{% endblock %}

